<!-- views/404.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>404 - Page Not Found</title>
  <!-- Link to the external CSS file -->
  <link rel="stylesheet" type="text/css" href="styles/styles.css"></head>
<body>
    
  <%- include('include/header')%>
  <div class="container">
    <h1 class="error-heading">404</h1>
    <p class="error-message">Oops! The page you're looking for does not exist.</p>
    <a href="/" class="cta-btn">Back to Home</a>
  </div>
</body>
</html>
