<!DOCTYPE html>
<html>
<head>
  <title>Confirmation Page</title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
  <%- include('include/header')%>

  <main>
    <section class="confirm">
      <h2>Thank You!</h2>
      <p>Your restaurant submission has been received and will be reviewed.</p>
      <p>We appreciate your contribution to the restaurant community.</p>
    </section>
  </main>
</body>
</html>
