<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Finder</title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<%- include('include/header')%>

  <main>
    <section class="hero">
      <div class="hero-content">
        <h2>Find Your Next Favorite Restaurant</h2>
        <div class="button-container">
          <a class="button" href="/browse">
            Browse Restaurants
            <p>Explore a wide variety of restaurants and discover your next dining experience.</p>
          </a>
          <a class="button" href="/share">
            Share a Restaurant
            <p>Share your favorite restaurants with others and contribute to the restaurant community.</p>
          </a>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
