button{
    width: 170px;
    height: 40px;
    background-color:rgb(214, 245, 11);
    color: black;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(80, 104, 7);
    border-radius: 5px;
    margin: 10px;
}

.buttonn{
    width: 170px;
    height: 40px;
    background-color:rgb(89, 0, 255);
    color: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgb(105, 102, 102);
    border-radius: 5px;
    margin: 10px;
}