<header>
    <nav>
      <div class="logo">
        <h1>Restaurant Finder</h1>
      </div>
      <ul class="nav-links">
        <li><a href="/index">Home</a></li>
        <li><a href="/browse">Browse Restaurants</a></li>
        <li><a href="/share">Share a Restaurant</a></li>
      </ul>
    </nav>
  </header>